.bd-bg {
  background-color: $body-color;
}
.panel-black {
  background-color: $black;
}

.panel-red {
  background-color: $red;
}

.panel-white {
  background-color: $white;
}

.panel-padding {
  padding: $padding-panel;
}

.margin-panel {
  margin-bottom: $margin-panel-btm;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

// .heading1 {

// }
